
<button class="btn btn-info" (click)="allList()">All</button>
<button class="btn btn-info" (click)="patientList()">Patients</button>
<button class="btn btn-info" (click)="caregiverList()">Caregivers</button>
<button class="btn btn-info" (click)="doctorList()">Doctors</button>
<div class="card my-5">

  <div class="card-body">



    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
        <th scope="col">Telephone</th>
        <th scope="col">Date of Birth</th>
        <th scope="col">Role</th>
        <th [hidden]="!patientsFlag" scope="col">Caregiver</th>
        <th scope="col">Actions</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
        <th>{{ user.address}}</th>
        <th>{{ user.telephone}}</th>
        <th>{{ user.dateOfBirth}}</th>
        <th>{{ getRole(user)}}</th>
        <th [hidden]="!patientsFlag" >{{findCaregiverName(user)}}</th>
        <th>
            <button  (click)="delete(user)">Delete</button>
            <button  (click)="edit(user)" routerLink="/user/edit">Edit</button>
            <button  [hidden]="!(user.role==2)" (click)="view(user)" routerLink="/caregiver/view">View</button>
            <button  [hidden]="!(user.role==3)" (click)="view(user)" routerLink="/patient/view">View</button>
          <button  [hidden]="!(user.role==1)" (click)="view(user)" routerLink="/doctor/view">View</button>
        </th>
      </tr>
      </tbody>
    </table>
  </div>
</div>
