<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">

      <div class="form-group">
        <label for="medication">medication ID</label>
        <input type="text" [(ngModel)]="medplan.medication"
               class="form-control"
               id="medication"
               name="medication"
               placeholder="Enter your medication ID"
               required #medication="ngModel">
        <div [hidden]="!medication.pristine" class="alert alert-danger">medication is required</div>
      </div>
      <div class="form-group">
        <label for="dailyIntake">dailyIntake</label>
        <input type="number" [(ngModel)]="medplan.dailyIntake"
               class="form-control"
               id="dailyIntake"
               name="dailyIntake"
               placeholder="Enter your dailyIntake"
               required #dailyIntake="ngModel">
        <div [hidden]="!dailyIntake.pristine" class="alert alert-danger">dailyIntake is required</div>
      </div>
      <div class="form-group">
        <label for="dateStart">dateStart</label>
        <input type="date" [(ngModel)]="medplan.dateStart"
               class="form-control"
               id="dateStart"
               name="dateStart"
               placeholder="Enter your dateStart"
               required #dateStart="ngModel">
        <div [hidden]="!dateStart.pristine" class="alert alert-danger">dateStart is required</div>
      </div>
      <div class="form-group">
        <label for="dateEnd">dateEnd</label>
        <input type="date" [(ngModel)]="medplan.dateEnd"
               class="form-control"
               id="dateEnd"
               name="dateEnd"
               placeholder="Enter your dateEnd"
               required #dateEnd="ngModel">
        <div [hidden]="!dateEnd.pristine" class="alert alert-danger">dateEnd is required</div>
      </div>





      <button type="submit" [disabled]="!userForm.form.valid"
              class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
