
<div class="card my-5">

  <div class="card-body">

    <form #userForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="user.name"
               class="form-control"
               id="name"
               disabled
               name="name"
               placeholder="Enter your name"
               required #name="ngModel">
      </div>
      <div [hidden]="!name.invalid" class="alert alert-danger">Name is required</div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" [(ngModel)]="user.email"
               class="form-control"
               id="email"
               disabled
               name="email"
               placeholder="Enter your email address"
               required #email="ngModel">
        <div [hidden]="!email.invalid" class="alert alert-danger">Email is required</div>
      </div>
      <div class="form-group">
        <label for="address">address</label>
        <input type="text" [(ngModel)]="user.address"
               class="form-control"
               id="address"
               disabled
               name="address"
               placeholder="Enter your address"
               required #address="ngModel">
        <div [hidden]="!address.invalid" class="alert alert-danger">address is required</div>
      </div>
      <div class="form-group">
        <label for="telephone">telephone</label>
        <input type="text" [(ngModel)]="user.telephone"
               class="form-control"
               id="telephone"
               disabled
               name="telephone"
               placeholder="Enter your telephone"
               required #telephone="ngModel">
        <div [hidden]="!telephone.invalid" class="alert alert-danger">telephone is required</div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">dateOfBirth</label>
        <input type="date" [(ngModel)]="user.dateOfBirth"
               class="form-control"
               disabled
               id="dateOfBirth"
               name="dateOfBirth"
               placeholder="Enter your dateOfBirth">
      </div>




    </form>

  </div>
</div>
