<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let medication of medicationList">
        <td>{{ medication.id }}</td>
        <td>{{ medication.name }}</td>
        <th><button (click)="delete(medication)">Delete</button>
          <button (click)="edit(medication)" routerLink="/medication/edit">Edit</button></th>
      </tr>
      </tbody>
    </table>
  </div>
</div>
