<div class="card my-5">
  <div class="card-body">


    <div [hidden]="!authenticated()">
      <p>The ID is {{greeting.id}}</p>
      <p>The content is {{greeting.content}}</p>
    </div>
    <div [hidden]="authenticated()">
      <p>Login to see your greeting</p>
    </div>




    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
        <th scope="col">Telephone</th>
        <th scope="col">Date of Birth</th>
        <th scope="col">Role</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
        <th>{{ user.address}}</th>
        <th>{{ user.telephone}}</th>
        <th>{{ user.dateOfBirth}}</th>
        <th>{{ user.role}}</th>
      </tr>
      </tbody>
    </table>
  </div>
</div>
