
<button (click)="add()" routerLink="/medplan/add">Add MedPlan</button>
<div class="card my-5">

  <div class="card-body">

    <form #userForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="user.name"
               class="form-control"
               id="name"
               disabled
               name="name"
               placeholder="Enter your name"
               required #name="ngModel">
      </div>
      <div [hidden]="!name.invalid" class="alert alert-danger">Name is required</div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" [(ngModel)]="user.email"
               class="form-control"
               id="email"
               disabled
               name="email"
               placeholder="Enter your email address"
               required #email="ngModel">
        <div [hidden]="!email.invalid" class="alert alert-danger">Email is required</div>
      </div>
      <div class="form-group">
        <label for="address">address</label>
        <input type="text" [(ngModel)]="user.address"
               class="form-control"
               id="address"
               disabled
               name="address"
               placeholder="Enter your address"
               required #address="ngModel">
        <div [hidden]="!address.invalid" class="alert alert-danger">address is required</div>
      </div>
      <div class="form-group">
        <label for="telephone">telephone</label>
        <input type="text" [(ngModel)]="user.telephone"
               class="form-control"
               id="telephone"
               disabled
               name="telephone"
               placeholder="Enter your telephone"
               required #telephone="ngModel">
        <div [hidden]="!telephone.invalid" class="alert alert-danger">telephone is required</div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">dateOfBirth</label>
        <input type="date" [(ngModel)]="user.dateOfBirth"
               class="form-control"
               disabled
               id="dateOfBirth"
               name="dateOfBirth"
               placeholder="Enter your dateOfBirth">
      </div>


      <div class="form-group">
        <label for="careGiver">careGiver</label>
        <input type="number" [(ngModel)]="user.caregiver"
               class="form-control"
               id="careGiver"
               disabled
               name="careGiver"
               placeholder="Enter your careGiver"
               [defaultValue]="0"
        >
        <!--        <div [hidden]="!careGiver.pristine" class="alert alert-danger">careGiver is required</div>-->
      </div>



    </form>



    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">dateStart</th>
        <th scope="col">dateEnd</th>
        <th scope="col">dailyIntake</th>
        <th scope="col">medication</th>
        <th scope="col">patient</th>
        <th scope="col">Actions</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let medPlan of medPlans">
        <td>{{ medPlan.id }}</td>
        <td>{{ medPlan.dateStart }}</td>
        <td>{{ medPlan.dateEnd }}</td>
        <th>{{ medPlan.dailyIntake}}</th>
        <th>{{findMedicationName(medPlan)}}</th>
        <th>{{ medPlan.patient}}</th>
        <th><button (click)="delete(medPlan)">Delete</button>
          <button (click)="edit(medPlan)" routerLink="/medplan/edit">Edit</button></th>
      </tr>
      </tbody>
    </table>
  </div>
</div>
