
<div class="card my-5">

  <div class="card-body">

    <form #userForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="caregiver.name"
               class="form-control"
               id="name"
               disabled
               name="name"
               placeholder="Enter your name"
               required #name="ngModel">
      </div>
      <div [hidden]="!name.invalid" class="alert alert-danger">Name is required</div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" [(ngModel)]="caregiver.email"
               class="form-control"
               id="email"
               disabled
               name="email"
               placeholder="Enter your email address"
               required #email="ngModel">
        <div [hidden]="!email.invalid" class="alert alert-danger">Email is required</div>
      </div>
      <div class="form-group">
        <label for="address">address</label>
        <input type="text" [(ngModel)]="caregiver.address"
               class="form-control"
               id="address"
               disabled
               name="address"
               placeholder="Enter your address"
               required #address="ngModel">
        <div [hidden]="!address.invalid" class="alert alert-danger">address is required</div>
      </div>
      <div class="form-group">
        <label for="telephone">telephone</label>
        <input type="text" [(ngModel)]="caregiver.telephone"
               class="form-control"
               id="telephone"
               disabled
               name="telephone"
               placeholder="Enter your telephone"
               required #telephone="ngModel">
        <div [hidden]="!telephone.invalid" class="alert alert-danger">telephone is required</div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">dateOfBirth</label>
        <input type="date" [(ngModel)]="caregiver.dateOfBirth"
               class="form-control"
               disabled
               id="dateOfBirth"
               name="dateOfBirth"
               placeholder="Enter your dateOfBirth">
      </div>


      <div  [hidden]=true class="form-group">
        <label for="careGiver">careGiver</label>
        <input type="number" [(ngModel)]="caregiver.caregiver"
               class="form-control"
               id="careGiver"
               disabled
               name="careGiver"
               placeholder="Enter your careGiver"
               [defaultValue]="0"
        >
        <!--        <div [hidden]="!careGiver.pristine" class="alert alert-danger">careGiver is required</div>-->
      </div>



    </form>

    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
        <th scope="col">Telephone</th>
        <th scope="col">Date of Birth</th>
        <th scope="col">Role</th>
        <th scope="col">Caregiver</th>
        <th scope="col">Actions</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
        <th>{{ user.address}}</th>
        <th>{{ user.telephone}}</th>
        <th>{{ user.dateOfBirth}}</th>
        <th>{{ getRole(user)}}</th>
        <th>{{findCaregiverName(user)}}</th>
        <th>
          <button [hidden]=true (click)="delete(user)">Delete</button>
          <button [hidden]=true (click)="edit(user)" routerLink="/user/edit">Edit</button>
          <button [hidden]="!(user.role==2)" (click)="view(user)" routerLink="/caregiver/view">View</button>
          <button [hidden]="!(user.role==3)" (click)="view(user)" routerLink="/patient/view">View</button></th>
      </tr>
      </tbody>
    </table>
  </div>
</div>
