<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="user.name"
               class="form-control"
               id="name"
               name="name"
               placeholder="Enter your name"
               required #name="ngModel">
      </div>
      <div [hidden]="!name.invalid" class="alert alert-danger">Name is required</div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" [(ngModel)]="user.email"
               class="form-control"
               id="email"
               name="email"
               placeholder="Enter your email address"
               required #email="ngModel">
        <div [hidden]="!email.invalid" class="alert alert-danger">Email is required</div>
      </div>
      <div class="form-group">
        <label for="address">address</label>
        <input type="text" [(ngModel)]="user.address"
               class="form-control"
               id="address"
               name="address"
               placeholder="Enter your address"
               required #address="ngModel">
        <div [hidden]="!address.invalid" class="alert alert-danger">address is required</div>
      </div>
      <div class="form-group">
        <label for="telephone">telephone</label>
        <input type="text" [(ngModel)]="user.telephone"
               class="form-control"
               id="telephone"
               name="telephone"
               placeholder="Enter your telephone"
               required #telephone="ngModel">
        <div [hidden]="!telephone.invalid" class="alert alert-danger">telephone is required</div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">dateOfBirth</label>
        <input type="date" [(ngModel)]="user.dateOfBirth"
               class="form-control"
               id="dateOfBirth"
               name="dateOfBirth"
               placeholder="Enter your dateOfBirth"
               required #dateOfBirth="ngModel">
        <div [hidden]="!dateOfBirth.invalid" class="alert alert-danger">dateOfBirth is required</div>
      </div>
      <div class="form-group">
        <label>role</label>
        <br>
        <input type="radio" [(ngModel)]="user.role"
               name="role"
               value="3"
               checked> Patient<br>
        <input type="radio" [(ngModel)]="user.role"
               name="role"
               value="2"> Caregiver<br>
        <input type="radio" [(ngModel)]="user.role"
               name="role"
               value="1"
               required #role="ngModel"> Doctor<br>
        <div [hidden]="!role.invalid" class="alert alert-danger">role is required</div>
        <!--        <div [hidden]="!(role.value == 2)" class="alert alert-danger">-->
        <!--          role is PATIENT-->
        <!--        </div>-->
      </div>

      <div  [hidden]="!(role.value == 3)" class="form-group">
        <label for="careGiver">careGiver</label>
        <input type="number" [(ngModel)]="user.caregiver"
               class="form-control"
               id="careGiver"
               name="careGiver"
               placeholder="Enter your careGiver"
               [defaultValue]="0"
        >
        <!--        <div [hidden]="!careGiver.pristine" class="alert alert-danger">careGiver is required</div>-->
      </div>


      <button type="submit" [disabled]="!userForm.form.valid"
              class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
